# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# LaTeX Hilfs- und Build-Dateien
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.pdf